<ion-view class="main" view-title="Welcome to Wutudu">
  <ion-content>
  <h3 class="logo-title text-center">
    The place where you decide Wutudu.
  </h3>
  <div class="icon-wutudu background"></div>
  <div class="card">
    <div class="item item-divider">
      <h3><i class="icon ion-help-circled padding-right"></i>Step 1.</h3>
    </div>
    <h5>
      ╯°□°）╯︵ ┻━┻ FLIP THIS TABLE.
      <br>
      ┻━┻ ︵ ヽ(°□°ヽ) FLIP THAT TABLE.
      <br>
      ┻━┻ ︵ ＼('0')／ ︵ ┻━┻ 
      <br>
      I CAN'T DECIDE WUTUDU!
      <br>
    </h5>
  </div>
  <div class="icon-wutudu mini"></div>
  <div class="card">
    <div class="item item-divider">
      <h3><i class="icon ion-help-circled padding-right"></i>Step 2.</h3>
    </div>
    <h5>
       Son.. ಠ_ಠ 
      <br>
       ಠ_ಠ   Put.
      <br>
       ಠ__ಠ   The tables.
      <br>
       ಠ___ಠ   Back.
      <br>
      (╮°-°)╮┳━┳ ┳━┳ ┳━┳ ┳━┳ 
      <br>
    </h5>
  </div>
  <div class="icon-wutudu mini"></div>
  <div class="card">
    <div class="item item-divider">
      <h3><i class="icon ion-help-circled padding-right"></i>Step 3.</h3>
    </div>
    <h5>
       Open your friends list from the side menu.
      <br>
       (o‿o✿) Add some friends! (o‿o✿)
      <br>
    </h5>
  </div>
  <div class="icon-wutudu mini"></div>
  <div class="card">
    <div class="item item-divider">
      <h3><i class="icon ion-help-circled padding-right"></i>Step 4.</h3>
    </div>
    <h5>
       Create a group with your friends.
      <br>
       (ºل͟º(ºل͟º( ºل͟º( ºل͟º )ºل͟º )ºل͟º )
      <br>
    </h5>
  </div>
  <div class="icon-wutudu mini"></div>
  <div class="card">
    <div class="item item-divider">
      <h3><i class="icon ion-help-circled padding-right"></i>Step 5.</h3>
    </div>
    <h5>
      (∩ ͡° ͜ʖ ͡°)⊃━☆ﾟ. * ･ ｡ﾟ
      <br>
       Click on Wutudu to start the magic!
      <br>
    </h5>
  </div>
  <div class="icon-wutudu mini"></div>
  <div class="card">
    <div class="item item-divider">
      <h3><i class="icon ion-help-circled padding-right"></i>Step 6.</h3>
    </div>
    <h5>
       Answer the 10 easy questions.
      <br>
       Easy? no □ yes ☑
      <br>
    </h5>
  </div>
  <div class="icon-wutudu mini"></div>
  <div class="card">
    <div class="item item-divider">
      <h3><i class="icon ion-help-circled padding-right"></i>Step 7.</h3>
    </div>
    <h5>
       ★ ★ ° ☆ ¸¸ . ??? °  ° ¸. ● ¸ . ★ ° :. . • 
      <br>
      ° :. . • ° . * magic ¸ . . ●  • ○ ° ★.  ° 
      <br>
      Profit.
      <br>
    </h5>
  </div>
  </ion-content>
</ion-view>
