<ion-view view-title="Welcome to Wutudu.">
  <ion-content>
  <h3 class="text-center">The place where you decide Wutudu.</h3>
  <h3>Getting started:</h3>
  <ion-slide-box style="height:300px;">
      <ion-slide>
        <div class="card" style="height:200px;">
          <div class="item item-divider">
            <h1>Step 1.</h1>
          </div>
          <h4>
            ╯°□°）╯︵ ┻━┻ FLIP THIS TABLE.
            <br>
            ┻━┻ ︵ ヽ(°□°ヽ) FLIP THAT TABLE.
            <br>
            ┻━┻ ︵ ＼('0')／ ︵ ┻━┻ 
            <br>
            I CAN'T DECIDE WUTUDU!
            <br>
          </h4>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card" style="height:200px;">
          <div class="item item-divider">
            <h1>Step 2.</h1>
          </div>
          <h4>
             Son.. ಠ_ಠ 
            <br>
             ಠ_ಠ   Put.
            <br>
             ಠ__ಠ   The tables.
            <br>
             ಠ___ಠ   Back.
            <br>
            (╮°-°)╮┳━┳ ┳━┳ ┳━┳ ┳━┳ 
            <br>
          </h4>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card" style="height:200px;">
          <div class="item item-divider">
            <h1>Step 3.</h1>
          </div>
          <h4>
             Open your friends list from the side menu.
            <br>
             (o‿o✿) Add some friends! (o‿o✿)
            <br>
          </h4>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card" style="height:200px;">
          <div class="item item-divider">
            <h1>Step 4.</h1>
          </div>
          <h4>
             Create a group with your friends.
            <br>
             (ºل͟º(ºل͟º( ºل͟º( ºل͟º )ºل͟º )ºل͟º )
            <br>
          </h4>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card" style="height:200px;">
          <div class="item item-divider">
            <h1>Step 5.</h1>
          </div>
          <h4>
            (∩ ͡° ͜ʖ ͡°)⊃━☆ﾟ. * ･ ｡ﾟ
            <br>
             Click on Wutudu to start the magic!
            <br>
          </h4>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card" style="height:200px;">
          <div class="item item-divider">
            <h1>Step 6.</h1>
          </div>
          <h4>
             Answer the 10 easy questions.
            <br>
             Easy? no □ yes ☑
            <br>
          </h4>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card" style="height:200px;">
          <div class="item item-divider">
            <h1>Step 7.</h1>
          </div>
          <h4>
             ★ ★ ° ☆ ¸¸ . ??? °  ° ¸. ● ¸ . ★ ° :. . • 
            <br>
            ° :. . • ° . * magic ¸ . . ●  • ○ ° ★.  ° 
            <br>
            Profit.
            <br>
          </h4>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
