<ion-view view-title="Main">
  <ion-content>
    <h1 class="text-center">Welcome to Wutudu.</h1>
    <h1 class="text-center">The place where you decide Wutudu.</h1>
    <h3 style="color: #F4F4F4;">
      ╯°□°）╯︵ ┻━┻ FLIP THIS TABLE.
      <br>
      ┻━┻ ︵ ヽ(°□°ヽ) FLIP THAT TABLE.
      <br>
      ┻━┻ ︵ ＼('0')／ ︵ ┻━┻ I CAN'T DECIDE WUTUDU.
      <br>
      Son.. ಠ_ಠ 
      <br>
       ಠ_ಠ   Put.
      <br>
       ಠ__ಠ   The tables.
      <br>
       ಠ___ಠ   Back.
      <br>
      (╮°-°)╮┳━┳ ┳━┳ ┳━┳ ┳━┳ ┳━┳ ┳━┳ ┳━┳
    </h3>
  </ion-content>
</ion-view>
