<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>
    <button ng-click="getTest()">Get Test</button>


    <form id="widget_form">
      <input id="widget_name" ng-model="widget.name" type="text" name="widget[name]" placeholder="name"/>
      <input id="widget_description" ng-model="widget.description" type="text" name="widget[description]" placeholder="description"/>
      <input id="widget_stock" ng-model="widget.stock" type="number" name="widget[stock]" placeholder="stock"/>
      <button ng-click="postTest(widget)">CREATE NEW WIDGET</button>
    </form>
  </ion-content>
</ion-view>
