<ion-modal-view >
  <ion-header-bar>
    <h1 class="title">Create Group</h1>
    <button class="button ion-close" ng-click="cancelCreateGroup()"></button>
  </ion-header-bar>

  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="New Group Name" ng-model="data.createGroup.name">
      </label>
    </div>
    <div class="item item-divider">
      Select Friends To Invite
    </div>
    <ion-list>
      <ion-checkbox ng-repeat="friend in data.friends" ng-model="friend.invited">
        {{friend.name}} <span class="item-note">{{friend.email}}</span>
      </ion-checkbox>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer">
    <div class="footer-title">
      <button class="button button-icon ion-android-checkmark-circle" ng-click="createGroup()">
        <span class="padding-left">CREATE GROUP</span>
      </button>
    </div>
  </div>
</ion-modal-view>

