<ion-modal-view >
  <ion-header-bar>
    <h1 class="title">Create Group</h1>
    <button class="button ion-close" ng-click="cancelCreateGroup()"></button>
  </ion-header-bar>

  <ion-content>
    <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="New Group Name" ng-model="data.createGroup.name">
        </label>
        <button class="button button-small" ng-click="createGroup()">Create</button>
    </div>
    <div class="item item-divider">
      Select Friends To Invite
    </div>
    <ion-list>
      <ion-checkbox ng-repeat="friend in data.friends" ng-model="friend.invited">
        {{friend.name}} <span class="item-note">{{friend.email}}</span>
      </ion-checkbox>
    </ion-list>

  </ion-content>
</ion-modal-view>

