<ion-view view-title="Group">

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-person-add" ng-click="showAddFriend()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
  
    <div class="item text-center">
      <h1 ng-bind="data.name"></h1>
    </div>

    <div class="list">

      <div class="item item-divider">
        Active Group Members
      </div>

      <ion-list>
        <ion-item ng-repeat="member in activeMembers">
          <span class="ion-person padding-left-small"></span> {{member.name}}
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Pending Group Members
      </div>

      <ion-list>
        <ion-item ng-repeat="member in pendingMembers">
          <span class="ion-person padding-left-small"></span> {{member.name}}
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        In progress Wutudus
      </div>

      <ion-list>
        <ion-item class="item" ng-repeat="wutudu in inProgressWutudus" ng-click="showPreWutuduOptions(wutudu)">
          <span class="icon-wutudu-bw rotate-90 inline-block"></span> {{wutudu.display_date}} ({{answeredStateString(wutudu)}})
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Upcoming Wutudus
      </div>

      <ion-list>
        <ion-item class="item" ng-repeat="wutudu in wutuduEvents" ng-click="showWutuduDetail(wutudu)">
          <span class="icon-wutudu-bw inline-block"></span>  {{wutudu.display_date}}
        </ion-item>
      </ion-list>

    </div>
  </ion-content>

  <div class="bar bar-footer">
    <div class="footer-title">
      <button class="button button-icon ion-android-add" ng-click="showCreateWutudu()">
        <span class="padding-left">CREATE WUTUDU</span>
      </button>
    </div>
  </div>

</ion-view>
