<ion-view view-title="Group">

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-person" ng-click="addFriendToGroup()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <h1 ng-bind="data.name"></h1>

    <button class="button button-outline button-balanced icon-right ion-checkmark-round" ng-click="showCreateWutudu()">Create Wutudu</button>

    <div class="list">

      <div class="item item-divider">
        Active Group Members
      </div>

      <ion-list>
        <ion-item ng-repeat="member in activeMembers">
          <span class="circle-border">{{$index + 1}}</span> {{member.name}}
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Pending Group Members
      </div>

      <ion-list>
        <ion-item ng-repeat="member in pendingMembers">
          <span class="circle-border">{{$index + 1}}</span> {{member.name}}
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        In progress Wutudus
      </div>

     <ion-list>
       <ion-item class="item" ng-repeat="wutudu in inProgressWutudus">
         {{wutudu.display_date}} ({{displayStatus(wutudu)}})
         <button class="button button-inline button-balanced" ng-show="userAnswered(wutudu)" ng-click="showWutuduQuestion(wutudu)">Decide Wutudu!</button>
       </ion-item>
     </ion-list>

      <div class="item item-divider">
        Upcoming Wutudus
      </div>

      <ion-list>
        <ion-item class="item" ng-repeat="wutudu in upcomingWutudus" ng-click="showWutuduDetail(wutudu)">
          {{wutudu.name}}
        </ion-item>
      </ion-list>

    </div>
  </ion-content>

</ion-view>
