<ion-view view-title="Group">

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-person-add" ng-click="showAddFriend()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
  
    <h1 ng-bind="data.name"></h1>

    <button class="button button-outline button-balanced icon-right ion-checkmark-round" ng-click="showCreateWutudu()">Create Wutudu</button>

    <div class="list">

      <div class="item item-divider">
        Active Group Members
      </div>

      <ion-list>
        <ion-item ng-repeat="member in activeMembers">
          <span class="ion-person padding-left-small"></span> {{member.name}}
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Pending Group Members
      </div>

      <ion-list>
        <ion-item ng-repeat="member in pendingMembers">
          <span class="ion-person padding-left-small"></span> {{member.name}}
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        In progress Wutudus
      </div>

      <ion-list>
        <ion-item class="item" ng-repeat="wutudu in inProgressWutudus" ng-click="showPreWutuduOptions(wutudu)">
          <span class="icon-wutudu-reverse-bw inline-block"></span> {{wutudu.display_date}} ({{answeredStateString(wutudu)}})
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Upcoming Wutudus
      </div>

      <ion-list>
        <ion-item class="item" ng-repeat="wutudu in wutuduEvents" ng-click="showWutuduDetail(wutudu)">
          <span class="icon-wutudu-bw mini inline-block"></span>  {{wutudu.display_date}}
        </ion-item>
      </ion-list>

    </div>
  </ion-content>

</ion-view>
