<ion-view view-title="Groups">

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-person-stalker" ng-click="showCreateGroup()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Active groups
      </div>

      <ion-list>
        <ion-item ng-repeat="group in activeGroups">
          <span class="circle-border">{{$index + 1}}</span>
          <a href="#/app/group/{{group.id}}">{{group.name}}</a>
          <button class="button button-inline button-assertive" ng-click="leaveGroup(group.id)">Leave</button>
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Pending groups
      </div>

      <ion-list>
        <ion-item ng-repeat="group in pendingGroups">
          <span class="circle-border">{{$index + 1}}</span>
          <a href="#/app/group/{{group.id}}?name={{group.name}}">{{group.name}}</a>
          <button class="button button-inline button-assertive" ng-click="declineInvitation(group.id)">Decline</button>
          <button class="button button-inline button-balanced" ng-click="acceptInvitation(group.id)">Accept</button>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>

</ion-view>

