<ion-view view-title="Groups">

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-person-stalker" ng-click="showCreateGroup()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list">

      <div class="item item-divider">
        Active groups
      </div>

      <ion-list>
        <ion-item ng-repeat="group in activeGroups" href="#/app/group/{{group.id}}">
          <span class="circle-border">{{$index + 1}}</span> {{group.name}}
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Pending groups
      </div>

      <ion-list>
        <ion-item ng-repeat="group in pendingGroups" href="#/app/group/{{group.id}}?name={{group.name}}">
          <span class="circle-border">{{$index + 1}}</span> {{group.name}}
        </ion-item>
      </ion-list>

    </div>
  </ion-content>

</ion-view>

