<ion-view hide-nav-bar="false" view-title="Groups">

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-plus" ng-click="showCreateGroup()">
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list">

      <div class="item item-divider">
        Active
      </div>

      <ion-list can-swipe="true">
        <ion-item ng-repeat="group in activeGroups" href="#/app/group/{{group.id}}/{{group.name}}">
          <span class="padding-left padding-right">
            {{group.name}}
          </span>
          <ion-option-button class="button-assertive" ng-click="leaveGroup(group.id)">
            Leave
          </ion-option-button>
        </ion-item>
      </ion-list>

      <div class="item item-divider">
        Group Invitations
      </div>

      <ion-list can-swipe="true">
        <ion-item ng-repeat="group in pendingGroups" href="#/app/group/{{group.id}}/{{group.name}}">
          <span class="padding-left padding-right">
            {{group.name}}
          </span>
          <ion-option-button class="button-balanced" ng-click="acceptInvitation(group.id)">
            Accept
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="declineInvitation(group.id)">
            Decline
          </ion-option-button>
        </ion-item>
      </ion-list>

    </div>
  </ion-content>

</ion-view>

