/* Wutudu Colour Guide:

Wutudu Red: #C62B53; / rgb(198, 43, 83);
Wutudu Green: #37AE63; / rgb(55, 174, 99);
Badass Green: #BADA55; / rgb(186, 218, 85);

*/


/* General Purpose styles
======================================================
*/

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.has-header {
  top: 57px;
}

.padding-right-double {
  padding-right: 20px;
}

.padding-left-double {
  padding-left: 20px;
}

.padding-left-small {
  padding-left: 5px;
}

.rotate-180 {
  -moz-transform: rotate(180deg) translateX(1px);
  -webkit-transform: rotate(180deg) translateX(1px);
  -o-transform: rotate(180deg) translateX(1px);
  -ms-transform: rotate(180deg) translateX(1px);
  transform: rotate(180deg) translateX(1px);
}

.footer-title {
  text-align: center;
  width: 100%;
  color: #fff;
}

/* Ionic Overrides
======================================================
*/

.menu-left .item {
  border-style: dotted;
}

.alert-error .popup-buttons .button {
  background-color: #C62B53;
  border: none;
}

.alert-success .popup-buttons .button {
  background-color: #37AE63;
  border: none;
}

.bar {
  background-color: #C62B53;
  color: #fff;
  height: 57px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.bar.bar-footer {
  height: 44px; /* Overriding our override styles back to default ionic. Fun stuff :( */
}

.bar .back-text .previous-title, .bar .back-text .default-title {
  display: none;
}

.bar .title {
  background-color: #C62B53;
  color: #ffffff;
  margin-top: 10px;
}

.bar .button {
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
}

.bar.bar-stable {
  background-color: #C62B53;
  color: #ffffff;
  height: 57px;
}

.bar.bar-stable .title {
  background-color: #C62B53;
  color: #fff;
  margin-top: 8px;
}

.bar.bar-stable .button {
  color: #fff;
  margin-top: 5px;
}

.bar.bar-stable .button.button-clear {
  border-color: transparent;
  color: #fff;
  font-size: 17px;
}

.bar.bar-positive {
  border-color: #C62B53;
  background-color: #C62B53;
  color: #fff;
}

.bar .buttons-left span {
    margin-left: 6px;
}

.bar .button.back-button {
    margin-left: 6px;
}

/* Custom Button styles
======================================================
*/

.button.button-wutudu {
  border-color: #C62B53;
  background-color: #C62B53;
  color: #fff;
}

.button.button-inline {
  float: right;
  padding: 2px 4px 1px;
  min-width: 28px;
  min-height: 21px;
  font-size: 12px;
  line-height: 21px;
}

/* Logo styles
======================================================
*/

.icon-wutudu {
  background-color: #fff;
  background: url('../img/logo.png') center;
  background-size: cover;
  border-radius: 50%;
  height: 125px;
  margin: 30px auto;
  width: 125px;
}

.icon-wutudu.background {
  position: absolute;
  opacity: 0.1;
  left: 0;
  right: 0;
  top: 10px;
  margin: 0 auto;
}

.icon-wutudu.med {
  height: 40px;
  width: 40px;
  margin: 3px 3px;
}

.icon-wutudu.mini {
  height: 30px;
  width: 30px;
  margin: -5px auto;
}

.icon-wutudu-reverse-bw {
  background-color: #fff;
  background: url('../img/logo_reverse_bw.png') center;
  background-size: cover;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: -5px auto;
}

.icon-wutudu-bw {
  background-color: #fff;
  background: url('../img/logo_bw.png') center;
  background-size: cover;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: -5px auto;
}

/* Login / Signup styles
======================================================
*/

.item-input .input-wutudu {
  letter-spacing: 0.25rem;
  padding-left: 10px;
  box-sizing: border-box;
  margin-right: 20px;
  background-color: rgba(198, 43, 83, 0.10);
}

.item-input .input-wutudu:focus {
  border: 1px solid #C62B53;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(198, 43, 83, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(198, 43, 83, .6);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/* Main Page styles
======================================================
*/

.main .logo-title {
  padding: 50px 20px;
  max-height: 200px;
}

.main .card .item-divider {
  background-color: rgb(198, 43, 83);
}

.main .card .item-divider h3 {
  color: #fff;
}

.main .card h5 {
  padding: 10px;
}

/* Input clear x
======================================================
*/

.close-icon {
  border:1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index:1;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  color: gray;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}
