<ion-view view-title="Create Wutudu">
  <ion-header-bar>
    <h1 class="title">Create Pre-Wutudu</h1>
  </ion-header-bar>

  <ion-content>
    <form>
      <div class="item item-input-inset">
        <span>Date: </span>
        <ionic-datepicker input-obj="datepickerObject">
          <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
        </ionic-datepicker>
        <ionic-timepicker input-obj="timePickerObject">
          <button class="button button-block button-positive overflowShow">
            {{displayTime(timePickerObject.inputEpochTime)}}
          </button>
        </ionic-timepicker>
      </div>
      <div class="item item-input-inset">
        <span>Search</span>
        <label class="item-input-wrapper">
          <input googleplace type="text" id="createWutuduPlacesAutoComplete" set-location="setWutuduLocation(lat,lng)" style="width: 100%;">
          <button class="close-icon" type="reset"></button>
        </label>
      </div>
      <div id="createWutuduMap" data-tap-disabled="true" style="height: 300px; width: 100%;"></div>
      <button type="submit" class="button button-balanced" ng-click="createWutudu(wutudu)">Create</button>
      <button class="button button-assertive" ng-click="cancelClick()">Cancel</button>
    </form>

  </ion-content>
</ion-view>

