<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Directions</h1>
    <button class="button ion-close" ng-click="closeDirectionsPopup()"></button>
  </ion-header-bar>
  <ion-content>
    <div>
      <div class="item item-input-inset">
        <span>Search</span>
        <label class="item-input-wrapper">
          <!-- pass in setLocation from, to update the lat long -->
          <input googleplace type="text" id="directionsAutoComplete" set-location="setStartLocation" style="width: 100%;">
        </label>
      </div>

      <div id="directionsMap" data-tap-disabled="true" style="height: 300px; width: 100%; "></div>
      <button class="button button-block button-outline button-assertive" ng-click="getDirectionsFromLocation()">Get Directions</button>
    </div>
  </ion-content>
</ion-modal-view>

