<ion-view hide-nav-bar="false" view-title="Friends">
  <ion-content>

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Name" ng-model="data.friendToAdd">
        </label>
        <button class="button button-small" ng-click="addFriend()">
          Add Friend
        </button>
      </div>
    </div>

    <div class="item item-divider">
      Pending Received Friend Invitations
    </div>

    <ion-list>
      <ion-item ng-repeat="receivedRequest in receivedRequests">
        <span class="circle-border">{{$index + 1}}</span>
        <span class="padding-left padding-right">{{receivedRequest.email}}</span>
        <button class="button button-inline button-assertive" ng-click="removeFriend(receivedRequest)">
          Decline
        </button>
        <button class="button button-inline button-balanced" ng-click="acceptFriend(receivedRequest)">
          Accept
        </button>
      </ion-item>
    </ion-list>

    <div class="item item-divider">
      Friends
    </div>

    <ion-list>
      <ion-item ng-repeat="friend in friends">
        <span class="circle-border">{{$index + 1}}</span>
        <span class="padding-left padding-right">{{friend.email}}</span>
        <button class="button button-inline button-assertive" ng-click="removeFriend(friend)">
          Remove Friend
        </button>
      </ion-item>
    </ion-list>

    <div class="item item-divider">
      Pending Sent Friend Invitations
    </div>

    <ion-list>
      <ion-item ng-repeat="sentRequest in sentRequests">
        <span class="circle-border">{{$index + 1}}</span>
        <span class="padding-left padding-right">{{sentRequest.email}}</span>
        <button class="button button-inline button-assertive" ng-click="cancelInvite(sentRequest)">
          Cancel Invite
        </button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
