<ion-view hide-nav-bar="false" view-title="Friends">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="email" lowercase placeholder="Email" ng-model="data.friendToAdd">
        </label>
        <button class="button button-small" ng-click="addFriend()">
          Add Friend
        </button>
      </div>
    </div>

    <div class="item item-divider">
      Friends
    </div>

    <ion-list can-swipe="true">
      <ion-item ng-repeat="friend in friends">
        <span class="ion-person"></span>
        <span class="padding-left padding-right">{{friend.name}}
          <span class="item-note">{{friend.email}}</span>
        </span>
        <ion-option-button class="button-assertive" ng-click="removeFriend(friend)">
          Unfriend
        </ion-option-button>
      </ion-item>
    </ion-list>

    <div class="item item-divider">
      Received Invitations
    </div>

    <ion-list can-swipe="true">
      <ion-item ng-repeat="receivedRequest in receivedRequests">
        <span class="ion-android-send"></span>
        <span class="padding-left padding-right">
          {{receivedRequest.name}}
          <span class="item-note">{{receivedRequest.email}}</span>
        </span>
        <ion-option-button class="button-balanced" ng-click="acceptFriend(receivedRequest)">
          Accept
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="removeFriend(receivedRequest)">
          Decline
        </ion-option-button>
      </ion-item>
    </ion-list>

    <div class="item item-divider">
      Sent Invitations
    </div>

    <ion-list can-swipe="true">
      <ion-item ng-repeat="sentRequest in sentRequests">
        <span class="padding-left padding-right">
          {{sentRequest.name}}
          <span class="item-note">{{sentRequest.email}}</span>
        </span>
        <ion-option-button class="button-assertive" ng-click="cancelInvite(sentRequest)">
          Cancel
        </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
