<ion-view view-title="Login to Wutudu">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <form ng-submit="validateLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
    <p class="text-center">
      New to Wutudu?&nbsp;
      <a href="#/signup">Sign up!</a>
    </p>
    <p class="text-center">
      Login backdoor: You will not get an authentication token.&nbsp;
      <button ng-click="loginBackdoor()">Login backdoor</button>
    </p>
  </ion-content>
</ion-view>