<ion-view class="login" view-title="Login to Wutudu">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="icon-wutudu"></div>

    <form ng-submit="validateLogin()">
      <div class="list">
        <label class="item item-input">
          <i class="icon ion-email padding-right-double"></i>
          <input class="input-wutudu" placeholder="EMAIL" type="email" lowercase ng-model="loginData.email">
        </label>
        <label class="item item-input">
          <i class="icon ion-android-unlock padding-right-double"></i>
          <input class="input-wutudu" placeholder="PASSWORD" type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button icon ion-log-in button-block button-wutudu" type="submit">
            <span class="padding-horizontal">LOGIN</span>
          </button>
        </label>
      </div>
    </form>
    <div class="item text-center">
      <i class="icon ion-information-circled"></i>
      New to Wutudu?&nbsp;
      <a href="#/signup">
        <i class="icon ion-clipboard padding-horizontal"></i>Sign up!
      </a>
    </div>
  </ion-content>
</ion-view>