<ion-view view-title="Sign up">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <form ng-submit="validateSignup()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" lowercase ng-model="signupData.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="signupData.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="signupData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Sign up now!</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>