<ion-view class="signup" view-title="Create Your Wutudu Account">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon ion-arrow-left-c"></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <form ng-submit="validateSignup()">
      <div class="list">
        <label class="item item-input ">
          <i class="icon ion-person padding-right-double"></i>
          <input class="input-wutudu" placeholder="USERNAME" type="text" ng-model="signupData.name">
        </label>
        <label class="item item-input">
          <i class="icon ion-email padding-right-double"></i>
          <input class="input-wutudu" placeholder="EMAIL" type="email" lowercase ng-model="signupData.email">
        </label>
        <label class="item item-input">
          <i class="icon ion-android-unlock padding-right-double"></i>
          <input class="input-wutudu" placeholder="PASSWORD" type="password" ng-model="signupData.password">
        </label>
        <label class="item">
          <button class="button ion-forward button-block button-wutudu" type="submit">
            <span class="padding-horizontal">SIGN UP</span>
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>